# Instructions

For the second part of the assignment today, we're going to get a little bit of practice with `Pandas`. We'll ask that you do a couple of different things using the new tools that we learned about (methods for combining data sets, `pd.cut`, and `pivot tables`).

# Assignment Questions

We'll be working with the `wine` datasets that are located in the `data` folder in this day's directory. 

1) Read the `winequality-red.csv` data into a `DataFrame`, and the `winequality-white.csv` into another `DataFrame`.

2) Double check that you've read them in right by using some of the attributes and methods available on `DataFrames` for getting a general sense of your data (**Hint**: See `day10-intro_pandas`, `week5` if you need a refresher on these). 

3) I've decided that this month I want to stay away from wines with relatively high alcohol content. To do that, I'm going to avoid any wines that have a greater alcohol content than the mean alcohol content, and you're going to help me do this. To achieve this, let's do the following: 

  * Find the mean alcohol content, separately, for reds and whites.  
  * Create a `Series` that holds whether each row in each `DataFrame` (the reds, and whites) has a higher alcohol content than the mean. 
  * Merge this `Series` onto the `DataFrame`. I can imagine doing this with either a `.join()` or using `pd.concat()`. For practice, do it with both. Note: merges with `Series` work the same way that they work with `DataFrames`.  
  * Return back to me all those rows that will help me stay away from those wines with a higher alcohol content.  
   
   
4) Let's say that I want to get started on cutting back next month. This time, though, I want to focus on staying away from those wines with a high acidity. Specifically, I want to stay away from those wines that are in the highest bin of fixed acidity (highest bin out of 5). You're now going to help me do this. To achieve this, let's do the following: 

 * Separate the rows in each `DataFrame` into 5 equal width bins based off their fixed acidity. 
 * Merge the resulting `Series` holding these 5 bins onto the original `DataFrame`. I can imagine also doing this with either `.join()` or using `pd.concat()`. Try doing it with both for practice. 
 * Return back to me all those rows that are **not in ** the top bin in terms of fixed acidity. 

5) Let's say that I now want to know how much my decision to avoid those wines with higher `alcohol` content is going to limit the `quality` of wines that I can drink. To figure this out, I want to know a couple of things: 

 * The average `alcohol` content for those reds above the mean `alcohol` level, by quality.
 * The average `alcohol` content for those whites above the mean `alcohol` level, by quality. 
 
 Use a `pivot table` to solve this. 
 
6) Now, do the same for my decision to avoid wines with a high acidity next month: 

 * Find the average `alcohol` content for reds, by `quality` and `fixed acidity` quintile. 
 * Find the average `alcohol` content for whites, by `quality` and `fixed acidity` quintile. 
 
  Use a `pivot table` to solve this.

In [92]:
# 1 . Read the winequality-red.csv data into a DataFrame, and the winequality-white.csv into
# another DataFrame.

import pandas as pd
import numpy as np

red_wines_df = pd.read_csv('data/winequality-red.csv', delimiter=';')
white_wines_df = pd.read_csv('data/winequality-white.csv', delimiter=';')

red_wines_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [10]:
# 2. Double check that you've read them in right by using some of the attributes and methods available on
# DataFrames for getting a general sense of your data (Hint: See day10-intro_pandas, week5
# if you need a refresher on these).

red_wines_df.head()
white_wines_df.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [140]:
# 3.  I've decided that this month I want to stay away from wines with relatively high alcohol content.
# To do that, I'm going to avoid any wines that have a greater alcohol content than the mean alcohol content,
# and you're going to help me do this. To achieve this, let's do the following:

# Find the mean alcohol content, separately, for reds and whites.

red_wine_alcohol_mean = red_wines_df.alcohol.mean()
red_wine_alcohol_mean

white_wine_alcohol_mean = white_wines_df.alcohol.mean()
white_wine_alcohol_mean

# Create a Series that holds whether each row in each DataFrame (the reds, and whites) has a higher
# alcohol content than the mean.

check_for_alcohol_mean_red = red_wines_df["alcohol"] > red_wine_alcohol_mean
check_for_alcohol_mean_red

check_for_alcohol_mean_white = white_wines_df["alcohol"] > white_wine_alcohol_mean
check_for_alcohol_mean_white

# Merge this Series onto the DataFrame. I can imagine doing this with either a .join() or using pd.concat().
# For practice, do it with both. Note: merges with Series work the same way that they work with DataFrames.


check_for_alcohol_mean_red.name = "alcohol_bool_red"
check_for_alcohol_mean_white.name = "alcohol_bool_white"

red_wines_joined = red_wines_df.join(check_for_alcohol_mean_red)
white_wines_joined = white_wines_df.join(check_for_alcohol_mean_white)

# Return back to me all those rows that will help me stay away from those wines with a higher alcohol content.

red_wines_joined[red_wines_joined['alcohol_bool_red'] == False]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,alcohol_bool_red
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,False
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,False
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,False
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,False
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1572,7.3,0.690,0.32,2.2,0.069,35.0,104.0,0.99632,3.33,0.51,9.5,5,False
1583,6.2,0.460,0.29,2.1,0.074,32.0,98.0,0.99578,3.33,0.62,9.8,5,False
1589,6.6,0.725,0.20,7.8,0.073,29.0,79.0,0.99770,3.29,0.54,9.2,5,False
1593,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6,False
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,False

In [154]:
# 4. Let's say that I want to get started on cutting back next month. This time, though, I want to focus on
# staying away from those wines with a high acidity. Specifically, I want to stay away from those wines
# that are in the highest bin of fixed acidity (highest bin out of 5). You're now going to help me do this.
# To achieve this, let's do the following:

# Separate the rows in each DataFrame into 5 equal width bins based off their fixed acidity.

red_wines_df.columns = [col.replace(' ', '_') for col in red_wines_df.columns.tolist()]
white_wines_df.columns = [col.replace(' ', '_') for col in white_wines_df.columns.tolist()]

fixed_acidity_cut = pd.cut(red_wines_df.fixed_acidity, bins = 5, labels=[1,2,3,4,5])
fixed_acidity_cut.name = "fixed_acidity_bin"


fixed_acidity_cut_white = pd.cut(white_wines_df.fixed_acidity, bins = 5, labels=[1,2,3,4,5])
fixed_acidity_cut_white.name = "fixed_acidity_bin"



# Merge the resulting Series holding these 5 bins onto the original DataFrame. I can imagine also doing
# this with either .join() or using pd.concat(). Try doing it with both for practice.


red_wines_joined = red_wines_df.join(fixed_acidity_cut)
red_wines_joined

white_wines_joined = white_wines_df.join(fixed_acidity_cut_white)
#white_wines_joined

# Return back to me all those rows that are *not in * the top bin in terms of fixed acidity.

red_wines_joined[red_wines_joined.fixed_acidity_bin < 5]
white_wines_joined[white_wines_joined.fixed_acidity_bin < 5]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,fixed_acidity_bin
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6,2
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6,2
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6,3
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,2
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,2
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,2
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,2
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,1
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,2

In [134]:
# 5 ) Let's say that I now want to know how much my decision to avoid those wines with higher alcohol content
# is going to limit the quality of wines that I can drink. To figure this out, I want to know a couple
# of things:

# The average alcohol content for those reds above the mean alcohol level, by quality.

pd.pivot_table(red_wines_df[red_wines_df.alcohol > red_wines_df.alcohol.mean()], values="alcohol", index="quality")

# Find the average alcohol content for whites, by quality and fixed acidity quintile.

pd.pivot_table(white_wines_df[white_wines_df.alcohol.mean()])

           alcohol
quality
3        10.866667
4        11.295000
5        11.088686
6        11.437214
7        11.708236
8        12.368750